/*----------------------------------------------------------------------
Basic single column layout for all browsers:
------------------------------------------------------------------------ */

/* * {
  margin: 0; // Override default CSS properties, such as margins added to the
  top and bottom of h1 elements
} */

.App {
  background-color: gray;
  background-image: url(http://res.cloudinary.com/t3unfxn28/image/upload/v1500619979/wallpaper-iron-throne-1600_w8tfik.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh; /* Even when viewport is shorter than all the elements in
  .App combined, .App extends to fit all of them */
  max-width: 50rem; /* container for fallback layout in wide viewports.
  max-width prevents horizontal scrollbars when width is skinnier than 50rem */
  margin: 0 auto; /* center */
  text-align: center;
  color: white;
}

/* h1 {
  margin: 0;  // Solution to white space at top of page 
  display: inline; // Alternative solution to remove white space at top of
    page
} */

.App-header {
  margin: 5rem auto;
  padding: 0 1rem;
}

.Quote-box {
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

button {
  display: block;
  margin: 1.5rem auto;
  min-width: 6rem;
}

footer {
  padding: 1.5rem 0;
}

a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

a:hover {
  /* border-bottom: 1px solid white; */
  /* padding-bottom: 2px; */
  opacity: 1;
  transition-delay: 0.2s;
}

@supports (display: flex) {
  .App {
    display: flex;
    flex-direction: column;
  }

  .Button-box {
    flex-grow: 1; /* There are other flex items in container, but since I didn't
    define flex grow factors for them, .Button-box takes up all the available
    space. This'll push the footer to the bottom */
  }
}
